#app {
    min-height: calc(100vh - 120px);
}

.page-header {
    background: linear-gradient(to right, #d53369, #cbad6d);
}

.x-header {
    height: 25vh;
    background: linear-gradient(to right, #d53369, #cbad6d);
}

footer {
    background: #fff;
}

.bg-gredient-primary {
    background: linear-gradient(to right, #d53369, #cbad6d) !important;
}

.list-group-item :first-child {
    margin-right: 0px;
}

.modal-dialog .modal-footer button {
    margin-right: 8px;
}

.button-icon {
    padding: 5px;
    font-size: 1.5rem !important;
    cursor: pointer;
    transition-duration: 0.2s;
}
.button-icon:hover {
    font-size: 1.9rem !important;
}
